.fa-tachometer-alt::before { content: '🧭'; }
.fa-boxes::before { content: '📦'; }
.fa-cube::before { content: '🧊'; }
.fa-file-invoice-dollar::before { content: '📄'; }
.fa-shopping-cart::before { content: '🛒'; }
.fa-users::before { content: '👥'; }
.fa-user::before { content: '👤'; }
.fa-bullseye::before { content: '🎯'; }
.fa-address-card::before { content: '📝'; }
.fa-tasks::before { content: '✅'; }
.fa-brain::before { content: '🧠'; }
.fa-user-cog::before { content: '👤'; }
.fa-chart-bar::before { content: '📊'; }
.fa-cog::before { content: '⚙️'; }
.fa-bars::before { content: '☰'; }
.fa-bell::before { content: '🔔'; }
.fa-shopping-bag::before { content: '🛍'; }
.fa-box::before { content: '📦'; }
.fa-dollar-sign::before { content: '💲'; }
.fa-filter::before { content: '🔎'; }
.fa-plus::before { content: '+'; }
.fa-search::before { content: '🔍'; }
.fa-chevron-left::before { content: '◀'; }
.fa-chevron-right::before { content: '▶'; }
.fa-chevron-down::before { content: '▼'; }
.fa-eye::before { content: '👁️'; }
.fa-pencil-alt::before { content: '✏️'; }
.fa-trash::before { content: '🗑'; }
.fa-file-import::before { content: '📥'; }
.fa-phone-plus::before { content: '📞+'; }